<div class="app-input">
    <span class="app-ph">{{ .input_placeholder }}</span>
    <span class="app-send"><svg class="i"><use href="#i-send"/></svg></span>
    <span class="app-input-row">
        <span class="app-round"><svg class="i"><use href="#i-plus"/></svg></span>
        <span class="app-grow"></span>
        <span class="app-mode"><svg class="i"><use href="#i-bolt"/></svg>{{ .mode_label }}<svg class="i i-sm"><use href="#i-chevron-down"/></svg></span>
        <span class="app-round"><svg class="i"><use href="#i-mic"/></svg></span>
    </span>
</div>
