<div class="app">
    {{ partial "uc/a-chrome.html" (dict "title" .m.chat_title) }}
    <div class="a-chat">
        <div class="a-thread"><div class="a-col">
            <div class="r at1"><div><div class="a-user"><p class="a-bubble type" data-scramble>{{ .m.ask }}</p></div></div></div>
            {{ partial "uc/a-tl.html" (dict "at" 2 "meta" .m.meta) }}
            <div class="r at2"><div>
                <div class="a-ai stream at2" data-scramble>
                    <p><strong>{{ .m.lead }}</strong></p>
                    <ul>{{ range .m.answer }}<li>{{ . }}</li>{{ end }}</ul>
                </div>
            </div></div>
            <div class="r at3"><div>{{ partial "uc/a-acts.html" (dict) }}</div></div>
        </div></div>
        {{ partial "uc/a-composer.html" .p }}
    </div>
    <div class="vault f at4">
        <span class="vault-badge"><svg class="i18"><use href="#h-lock"/></svg>{{ .m.stored }}</span>
        <span class="vault-note">{{ .m.cipher }}</span>
    </div>
</div>
