{{ $steps := slice }}{{ range .m.steps }}{{ $steps = $steps | append (dict "kind" "run" "name" .) }}{{ end }}
<div class="app app--split" data-shut="5">
    {{ partial "uc/a-chrome.html" (dict "title" .m.chat_title) }}
    <div class="a-chat">
        <div class="a-thread"><div class="a-col">
            <div class="r at1"><div><div class="a-user"><p class="a-bubble type">{{ .m.ask }}</p></div></div></div>
            {{ partial "uc/a-tl.html" (dict "at" 2 "fold" 3 "running" "Running artifact manager" "meta" .m.meta "steps" $steps) }}
            <div class="r at3"><div>{{ partial "uc/a-art.html" (dict "icon" "draw" "title" .m.art1_title "sub" .m.art1_sub "p" .p) }}</div></div>
            <div class="r at4"><div>
                <div class="a-user"><p class="a-bubble type">{{ .m.ask2 }}</p></div>
                <div class="a-tl"><p class="a-tl-head"><span>{{ .m.meta2 }}</span><svg class="z16"><use href="#h-arrow-right01"/></svg></p></div>
                {{ partial "uc/a-art.html" (dict "icon" "code-m" "title" .m.art2_title "sub" .m.art2_sub "p" .p) }}
            </div></div>
            <div class="r at5"><div>
                <div class="a-user"><p class="a-bubble type">{{ .m.ask3 }}</p></div>
                <div class="a-tl"><p class="a-tl-head"><span>{{ .m.meta3 }}</span><svg class="z16"><use href="#h-arrow-right01"/></svg></p></div>
                <div class="a-gen">
                    <span class="gen-sun"></span><span class="gen-hill gen-hill--a"></span><span class="gen-hill gen-hill--b"></span><span class="gen-phone"><i></i><i></i><i></i></span>
                    <span class="a-gen-pill"><svg class="z10"><use href="#h-sparkles"/></svg>{{ .m.image_model }}</span>
                </div>
            </div></div>
        </div></div>
        {{ partial "uc/a-composer.html" .p }}
    </div>
    <div class="a-scrim pan3"></div>
    <div class="a-panel pan3"><div class="a-panel-in">
        <div class="until4">{{ partial "uc/a-ph.html" (dict "title" .m.art1_title "type" .m.art1_type "icon" "draw" "p" .p) }}</div>
        <div class="from4">{{ partial "uc/a-ph.html" (dict "title" .m.art2_title "type" .m.art2_type "icon" "code-m" "p" .p) }}</div>
        <div class="a-pb">
            <div class="xd until4">
                <span class="xd-fit"><svg class="i16"><use href="#h-fit"/></svg></span>
                <svg class="xd-svg" viewBox="0 0 320 360">
                    {{ range $i, $n := .m.nodes }}
                    {{ $y := add 18 (mul $i 86) }}
                    <path class="xd-s" pathLength="1" style="--d: {{ $i }}" d="M{{ add 62 (mod $i 2) }} {{ add $y 2 }} C 120 {{ sub $y 1 }}, 200 {{ add $y 1 }}, {{ sub 258 (mod $i 2) }} {{ $y }} C 261 {{ add $y 18 }}, 259 {{ add $y 34 }}, 257 {{ add $y 50 }} C 190 {{ add $y 52 }}, 130 {{ add $y 49 }}, 63 {{ add $y 51 }} C 60 {{ add $y 34 }}, 61 {{ add $y 16 }}, {{ add 62 (mod $i 2) }} {{ add $y 2 }}"/>
                    <text class="xd-t" x="160" y="{{ add $y 32 }}" text-anchor="middle" style="--d: {{ $i }}">{{ $n }}</text>
                    {{ if lt $i 3 }}<path class="xd-s" pathLength="1" style="--d: {{ $i }}" d="M160 {{ add $y 54 }} C 161 {{ add $y 64 }}, 159 {{ add $y 72 }}, 160 {{ add $y 82 }} M152 {{ add $y 73 }} L160 {{ add $y 83 }} L168 {{ add $y 72 }}"/>{{ end }}
                    {{ end }}
                </svg>
            </div>
            <div class="proto from4">
                <div class="proto-page">
                    <span class="proto-logo"></span>
                    <p class="proto-title">{{ .m.proto_title }}</p>
                    <span class="proto-input">{{ .m.proto_input }}</span>
                    <span class="proto-btn">{{ .m.proto_btn }}</span>
                </div>
            </div>
        </div>
        {{ partial "uc/a-pf.html" .p }}
    </div></div>
</div>
