<footer class="footer">
    <span>&copy; {{ now.Year }} <a href="https://chuk.dev">Chuk Development</a></span>
    <a href="{{ "privacy" | relLangURL }}">{{ if eq .Lang "de" }}Datenschutz{{ else }}Privacy{{ end }}</a>
    <a href="{{ "terms" | relLangURL }}">{{ if eq .Lang "de" }}AGB{{ else }}Terms{{ end }}</a>
    <a href="{{ "cancellation" | relLangURL }}">{{ if eq .Lang "de" }}Widerruf{{ else }}Cancellation{{ end }}</a>
    <a href="{{ "faq" | relLangURL }}">FAQ</a>
    <a href="{{ "impressum" | relLangURL }}">Impressum</a>
    <a href="https://status.chuk.chat" target="_blank">Status</a>
    <img src="/badge_chuk_chat.gif" alt="Chuk Chat" style="height: 31px;">
</footer>
